services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_USER: docker
      MYSQL_PASSWORD: admin123
      MYSQL_DATABASE: projeto_rest_spring_boot
    ports:
      - "3308:3306"
    networks:
      - mynetwork
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    command: --max-connections=1000 --default-authentication-plugin=mysql_native_password

  projeto_rest_spring_boot:
    build: .
    image: brunoverly/projeto_rest_spring_boot
    restart: always
    environment:
      SERVER_PORT: 80
      TZ: America/Sao_Paulo
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "80:80"
    networks:
      - mynetwork
    # Adicione isto para dar mais tempo ao Spring iniciar
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

networks:
  mynetwork:
    driver: bridge