name: CI CD com GitHub Actions

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build Application .jar
        run: mvn clean package

      - name: Docker Compose Build
        run: docker compose build

      - name: Push Docker Images
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/projeto_rest_spring_boot:latest ${{ secrets.DOCKER_USERNAME }}/projeto_rest_spring_boot:${{ github.run_id }}
          docker push ${{ secrets.DOCKER_USERNAME }}/projeto_rest_spring_boot:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/projeto_rest_spring_boot:${{ github.run_id }}

      - name: Deploy to Azure VM
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.AZURE_VM_SSH_KEY }}
          port: 22
          script: |
            cd /home/azureuser/projeto_rest_spring_boot
            docker compose pull
            docker compose up -d
